---
import PageLandingLayout from '@layouts/PageLandingLayout.astro'
import Breadcrumbs from '@components/landing/Breadcrumbs.astro'
import BlogPreview from '@components/landing/BlogPreview.astro'
import BlogPostGrid from '@components/landing/BlogPostGrid.astro'
---

<PageLandingLayout title="Estrategias de citas" href="/blog/dating-strategies/">
  <Breadcrumbs />
  <h2 class="text-2xl font-semibold mb-8 text-gray-800">
    Estrategias de citas
  </h2>
  <BlogPostGrid>
    <BlogPreview
      title="El arte de la conversación: Estrategias de citas para Maktub"
      categoryTitle="Estrategias de citas"
      categoryId="dating-strategies"
      image="/wp-content/uploads/sites/128/2025/03/tenweb_media_rx9hefrca.webp"
      postId="the-art-of-conversation-dating-strategies-for"
      excerpt="Domina el arte de la conversación y crea conexiones duraderas en Maktub."
    />
  </BlogPostGrid>
</PageLandingLayout>
