---
import { pages } from '@data/pages'

type BreadcrumbItem = { label: string; path: string }

const url = Astro.request.url
const items: BreadcrumbItem[] = new URL(url).pathname
  .split('/')
  .map((path) => ({ path, label: pages[path] }))

const mappedItems = [items[0]]
for (let i = 1; i < items.length; i++) {
  mappedItems.push({
    ...items[i],
    path: `${mappedItems[i - 1].path}/${items[i].path}`.replace('//', '/'),
  })
}
---

<nav class="mb-8 py-4" aria-label="migas de pan">
  <ul class="flex flex-wrap items-center gap-3 text-base">
    {
      mappedItems.map((item, index) => (
        <li class="flex items-center gap-3">
          {index === items.length - 1 ? (
            <span class="text-black">{item.label}</span>
          ) : (
            <a
              href={item.path}
              class="text-red-500 font-medium no-underline transition-colors hover:text-pink-500"
            >
              {item.label}
            </a>
          )}
          {index < items.length - 1 && (
            <span class="text-gray-600 font-normal">&gt;</span>
          )}
        </li>
      ))
    }
  </ul>
</nav>
