---
import NewsletterInput from '@components/landing/NewsletterInput.astro';
---

<div class="w-full p-16 bg-[#f8f9fa]">
  <div class="w-full max-w-3xl mx-auto p-12 rounded-xl space-y-4">
    <h2 class="text-4xl font-bold text-center">
      Subscribirse a nuestro boletín
    </h2>

    <p class="text-center text-gray-600">
      Mantente al día con las últimas publicaciones del blog. Sin spam, lo
      prometemos.
    </p>

    <NewsletterInput />

    <p class="text-sm text-center text-gray-500">
      Al hacer clic en suscribirse, confirmas que estás de acuerdo con nuestros
      Términos y Condiciones.
    </p>
  </div>
</div>
