---
interface Props {
  title: string;
  description: string;
  imageUrl: string;
  imageAlt: string;
}

const { title, description, imageUrl, imageAlt } = Astro.props;
---

<div class="bg-primary rounded-lg overflow-hidden shadow-lg">
  <div class="h-48 md:h-64 overflow-hidden">
    <img
      class="w-full h-full object-cover object-center"
      src={imageUrl}
      alt={imageAlt}
    />
  </div>
  <div class="p-6">
    <h5 class="text-xl font-semibold mb-3 text-white">{title}</h5>
    <p class="text-white/90">
      {description}
    </p>
  </div>
</div>
