---
import '@fortawesome/fontawesome-free/css/all.min.css';
import PageLandingLayout from '@layouts/PageLandingLayout.astro';
---

<PageLandingLayout>
  <div
    data-elementor-type="wp-page"
    data-elementor-id="1605"
    class="elementor elementor-1605"
  >
    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-7f979378 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default"
      data-id="7f979378"
      data-element_type="section"
      data-settings='{"stretch_section":"section-stretched"}'
    >
      <div class="elementor-container elementor-column-gap-no">
        <div
          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-74a2142f"
          data-id="74a2142f"
          data-element_type="column"
        >
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-79286357 elementor-widget elementor-widget-twbbpost-content"
              data-id="79286357"
              data-element_type="widget"
              data-widget_type="twbbpost-content.default"
            >
              <div class="elementor-widget-container">
                <style>
                  .elementor-1605
                    .elementor-element.elementor-element-vi93qah7 {
                    --display: flex;
                    --flex-direction: row;
                    --container-widget-width: initial;
                    --container-widget-height: 100%;
                    --container-widget-flex-grow: 1;
                    --container-widget-align-self: stretch;
                    --flex-wrap-mobile: wrap;
                    --gap: 60px 60px;
                    --row-gap: 60px;
                    --column-gap: 60px;
                    --padding-top: 80px;
                    --padding-bottom: 80px;
                    --padding-left: 0px;
                    --padding-right: 0px;
                  }
                  .elementor-widget-twbb_form
                    .elementor-heading-title.elementor-form-title {
                    color: var(--e-global-color-primary);
                    font-family: var(--e-global-typography-primary-font-family),
                      sans-serif;
                    font-size: var(--e-global-typography-primary-font-size);
                    font-weight: var(--e-global-typography-primary-font-weight);
                    text-transform: var(
                      --e-global-typography-primary-text-transform
                    );
                    font-style: var(--e-global-typography-primary-font-style);
                    text-decoration: var(
                      --e-global-typography-primary-text-decoration
                    );
                    line-height: var(--e-global-typography-primary-line-height);
                    letter-spacing: var(
                      --e-global-typography-primary-letter-spacing
                    );
                    word-spacing: var(
                      --e-global-typography-primary-word-spacing
                    );
                  }
                  .elementor-widget-twbb_form
                    .elementor-form-title-description-wrapper
                    .elementor-text-editor {
                    color: var(--e-global-color-text);
                    font-family: var(--e-global-typography-text-font-family),
                      sans-serif;
                    font-size: var(--e-global-typography-text-font-size);
                    font-weight: var(--e-global-typography-text-font-weight);
                    text-transform: var(
                      --e-global-typography-text-text-transform
                    );
                    font-style: var(--e-global-typography-text-font-style);
                    text-decoration: var(
                      --e-global-typography-text-text-decoration
                    );
                    line-height: var(--e-global-typography-text-line-height);
                    letter-spacing: var(
                      --e-global-typography-text-letter-spacing
                    );
                    word-spacing: var(--e-global-typography-text-word-spacing);
                  }
                  .elementor-widget-twbb_form .elementor-field-group > label,
                  .elementor-widget-twbb_form .elementor-field-subgroup label {
                    color: var(--e-global-color-text);
                  }
                  .elementor-widget-twbb_form .elementor-field-group > label {
                    font-family: var(--e-global-typography-text-font-family),
                      sans-serif;
                    font-size: var(--e-global-typography-text-font-size);
                    font-weight: var(--e-global-typography-text-font-weight);
                    text-transform: var(
                      --e-global-typography-text-text-transform
                    );
                    font-style: var(--e-global-typography-text-font-style);
                    text-decoration: var(
                      --e-global-typography-text-text-decoration
                    );
                    line-height: var(--e-global-typography-text-line-height);
                    letter-spacing: var(
                      --e-global-typography-text-letter-spacing
                    );
                    word-spacing: var(--e-global-typography-text-word-spacing);
                  }
                  .elementor-widget-twbb_form .elementor-field-type-html {
                    color: var(--e-global-color-text);
                    font-family: var(--e-global-typography-text-font-family),
                      sans-serif;
                    font-size: var(--e-global-typography-text-font-size);
                    font-weight: var(--e-global-typography-text-font-weight);
                    text-transform: var(
                      --e-global-typography-text-text-transform
                    );
                    font-style: var(--e-global-typography-text-font-style);
                    text-decoration: var(
                      --e-global-typography-text-text-decoration
                    );
                    line-height: var(--e-global-typography-text-line-height);
                    letter-spacing: var(
                      --e-global-typography-text-letter-spacing
                    );
                    word-spacing: var(--e-global-typography-text-word-spacing);
                  }
                  .elementor-widget-twbb_form
                    .elementor-field-group
                    .elementor-field {
                    color: var(--e-global-color-text);
                  }
                  .elementor-widget-twbb_form
                    .elementor-field-group
                    .elementor-field,
                  .elementor-widget-twbb_form .elementor-field-subgroup label {
                    font-family: var(--e-global-typography-text-font-family),
                      sans-serif;
                    font-size: var(--e-global-typography-text-font-size);
                    font-weight: var(--e-global-typography-text-font-weight);
                    text-transform: var(
                      --e-global-typography-text-text-transform
                    );
                    font-style: var(--e-global-typography-text-font-style);
                    text-decoration: var(
                      --e-global-typography-text-text-decoration
                    );
                    line-height: var(--e-global-typography-text-line-height);
                    letter-spacing: var(
                      --e-global-typography-text-letter-spacing
                    );
                    word-spacing: var(--e-global-typography-text-word-spacing);
                  }
                  .elementor-widget-twbb_form .elementor-button {
                    font-family: var(--e-global-typography-accent-font-family),
                      sans-serif;
                    font-size: var(--e-global-typography-accent-font-size);
                    font-weight: var(--e-global-typography-accent-font-weight);
                    text-transform: var(
                      --e-global-typography-accent-text-transform
                    );
                    font-style: var(--e-global-typography-accent-font-style);
                    text-decoration: var(
                      --e-global-typography-accent-text-decoration
                    );
                    line-height: var(--e-global-typography-accent-line-height);
                    letter-spacing: var(
                      --e-global-typography-accent-letter-spacing
                    );
                    word-spacing: var(
                      --e-global-typography-accent-word-spacing
                    );
                  }
                  .elementor-widget-twbb_form
                    .e-form__buttons__wrapper__button-next {
                    background-color: var(--e-global-color-accent);
                  }
                  .elementor-widget-twbb_form .elementor-button[type='submit'] {
                    background-color: var(--e-global-color-accent);
                  }
                  .elementor-widget-twbb_form
                    .e-form__buttons__wrapper__button-previous {
                    background-color: var(--e-global-color-accent);
                  }
                  .elementor-widget-twbb_form .elementor-button[type='reset'] {
                    background-color: var(--e-global-color-accent);
                  }
                  .elementor-widget-twbb_form
                    .elementor-form-text-after-description-wrapper
                    .elementor-text-editor {
                    color: var(--e-global-color-text);
                    font-family: var(--e-global-typography-text-font-family),
                      sans-serif;
                    font-size: var(--e-global-typography-text-font-size);
                    font-weight: var(--e-global-typography-text-font-weight);
                    text-transform: var(
                      --e-global-typography-text-text-transform
                    );
                    font-style: var(--e-global-typography-text-font-style);
                    text-decoration: var(
                      --e-global-typography-text-text-decoration
                    );
                    line-height: var(--e-global-typography-text-line-height);
                    letter-spacing: var(
                      --e-global-typography-text-letter-spacing
                    );
                    word-spacing: var(--e-global-typography-text-word-spacing);
                  }
                  .elementor-widget-twbb_form .elementor-message {
                    font-family: var(--e-global-typography-text-font-family),
                      sans-serif;
                    font-size: var(--e-global-typography-text-font-size);
                    font-weight: var(--e-global-typography-text-font-weight);
                    text-transform: var(
                      --e-global-typography-text-text-transform
                    );
                    font-style: var(--e-global-typography-text-font-style);
                    text-decoration: var(
                      --e-global-typography-text-text-decoration
                    );
                    line-height: var(--e-global-typography-text-line-height);
                    letter-spacing: var(
                      --e-global-typography-text-letter-spacing
                    );
                    word-spacing: var(--e-global-typography-text-word-spacing);
                  }
                  .elementor-widget-twbb_form .e-form__indicators__indicator,
                  .elementor-widget-twbb_form
                    .e-form__indicators__indicator__label {
                    font-family: var(--e-global-typography-accent-font-family),
                      sans-serif;
                    font-size: var(--e-global-typography-accent-font-size);
                    font-weight: var(--e-global-typography-accent-font-weight);
                    text-transform: var(
                      --e-global-typography-accent-text-transform
                    );
                    font-style: var(--e-global-typography-accent-font-style);
                    text-decoration: var(
                      --e-global-typography-accent-text-decoration
                    );
                    line-height: var(--e-global-typography-accent-line-height);
                    letter-spacing: var(
                      --e-global-typography-accent-letter-spacing
                    );
                    word-spacing: var(
                      --e-global-typography-accent-word-spacing
                    );
                  }
                  .elementor-widget-twbb_form {
                    --e-form-steps-indicator-inactive-primary-color: var(
                      --e-global-color-text
                    );
                    --e-form-steps-indicator-active-primary-color: var(
                      --e-global-color-accent
                    );
                    --e-form-steps-indicator-completed-primary-color: var(
                      --e-global-color-accent
                    );
                    --e-form-steps-indicator-progress-color: var(
                      --e-global-color-accent
                    );
                    --e-form-steps-indicator-progress-background-color: var(
                      --e-global-color-text
                    );
                    --e-form-steps-indicator-progress-meter-color: var(
                      --e-global-color-text
                    );
                  }
                  .elementor-widget-twbb_form
                    .e-form__indicators__indicator__progress__meter {
                    font-family: var(--e-global-typography-accent-font-family),
                      sans-serif;
                    font-size: var(--e-global-typography-accent-font-size);
                    font-weight: var(--e-global-typography-accent-font-weight);
                    text-transform: var(
                      --e-global-typography-accent-text-transform
                    );
                    font-style: var(--e-global-typography-accent-font-style);
                    text-decoration: var(
                      --e-global-typography-accent-text-decoration
                    );
                    line-height: var(--e-global-typography-accent-line-height);
                    letter-spacing: var(
                      --e-global-typography-accent-letter-spacing
                    );
                    word-spacing: var(
                      --e-global-typography-accent-word-spacing
                    );
                  }
                  .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7 {
                    width: var(--container-widget-width, 50%);
                    max-width: 50%;
                    --container-widget-width: 50%;
                    --container-widget-flex-grow: 0;
                    --e-form-steps-indicators-spacing: 20px;
                    --e-form-steps-indicator-padding: 30px;
                    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
                    --e-form-steps-indicator-active-secondary-color: #ffffff;
                    --e-form-steps-indicator-completed-secondary-color: #ffffff;
                    --e-form-steps-divider-width: 1px;
                    --e-form-steps-divider-gap: 10px;
                  }
                  .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-form-title {
                    text-align: left;
                  }
                  .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-field-group {
                    padding-right: calc(20px / 2);
                    padding-left: calc(20px / 2);
                    margin-bottom: 20px;
                  }
                  .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-form-fields-wrapper {
                    margin-left: calc(-20px / 2);
                    margin-right: calc(-20px / 2);
                    margin-bottom: -20px;
                  }
                  .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-field-group.recaptcha_v3-bottomleft,
                  .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-field-group.recaptcha_v3-bottomright {
                    margin-bottom: 0;
                  }
                  .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-heading-title.elementor-form-title {
                    color: var(--e-global-color-primary);
                    font-family: var(--e-global-typography-twbb_h3-font-family),
                      sans-serif;
                    font-size: var(--e-global-typography-twbb_h3-font-size);
                    font-weight: var(--e-global-typography-twbb_h3-font-weight);
                    text-transform: var(
                      --e-global-typography-twbb_h3-text-transform
                    );
                    font-style: var(--e-global-typography-twbb_h3-font-style);
                    text-decoration: var(
                      --e-global-typography-twbb_h3-text-decoration
                    );
                    line-height: var(--e-global-typography-twbb_h3-line-height);
                    letter-spacing: var(
                      --e-global-typography-twbb_h3-letter-spacing
                    );
                    word-spacing: var(
                      --e-global-typography-twbb_h3-word-spacing
                    );
                  }
                  body.rtl
                    .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-labels-inline
                    .elementor-form-title-description-wrapper
                    > .elementor-form-title {
                    padding-left: 0px;
                  }
                  body:not(.rtl)
                    .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-labels-inline
                    .elementor-form-title-description-wrapper
                    > .elementor-form-title {
                    padding-right: 0px;
                  }
                  body
                    .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-labels-above
                    .elementor-form-title-description-wrapper
                    > .elementor-form-title {
                    padding-bottom: 0px;
                  }
                  body
                    .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-form-title-description-wrapper
                    > .elementor-form-title {
                    padding-bottom: 0px;
                  }
                  .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-form-title-description-wrapper
                    .elementor-text-editor {
                    text-align: left;
                    color: var(--e-global-color-text);
                    font-family: var(--e-global-typography-twbb_p3-font-family),
                      sans-serif;
                    font-size: var(--e-global-typography-twbb_p3-font-size);
                    font-weight: var(--e-global-typography-twbb_p3-font-weight);
                    text-transform: var(
                      --e-global-typography-twbb_p3-text-transform
                    );
                    font-style: var(--e-global-typography-twbb_p3-font-style);
                    text-decoration: var(
                      --e-global-typography-twbb_p3-text-decoration
                    );
                    line-height: var(--e-global-typography-twbb_p3-line-height);
                    letter-spacing: var(
                      --e-global-typography-twbb_p3-letter-spacing
                    );
                    word-spacing: var(
                      --e-global-typography-twbb_p3-word-spacing
                    );
                  }
                  body.rtl
                    .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-labels-inline
                    .elementor-form-title-description-wrapper
                    > .elementor-text-editor[data-elementor-setting-key='form_description'] {
                    padding-left: 0px;
                  }
                  body:not(.rtl)
                    .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-labels-inline
                    .elementor-form-title-description-wrapper
                    > .elementor-text-editor[data-elementor-setting-key='form_description'] {
                    padding-right: 0px;
                  }
                  body
                    .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-labels-above
                    .elementor-form-title-description-wrapper
                    > .elementor-text-editor[data-elementor-setting-key='form_description'] {
                    padding-bottom: 0px;
                  }
                  body
                    .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-form-title-description-wrapper
                    > .elementor-text-editor[data-elementor-setting-key='form_description'] {
                    padding-bottom: 0px;
                  }
                  body.rtl
                    .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-labels-inline
                    .elementor-field-group
                    > label {
                    padding-left: 10px;
                  }
                  body:not(.rtl)
                    .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-labels-inline
                    .elementor-field-group
                    > label {
                    padding-right: 10px;
                  }
                  body
                    .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-labels-above
                    .elementor-field-group
                    > label {
                    padding-bottom: 10px;
                  }
                  .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-field-group
                    > label,
                  .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-field-subgroup
                    label {
                    color: var(--e-global-color-secondary);
                  }
                  .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-field-group
                    > label {
                    font-family: var(--e-global-typography-twbb_p3-font-family),
                      sans-serif;
                    font-size: var(--e-global-typography-twbb_p3-font-size);
                    font-weight: var(--e-global-typography-twbb_p3-font-weight);
                    text-transform: var(
                      --e-global-typography-twbb_p3-text-transform
                    );
                    font-style: var(--e-global-typography-twbb_p3-font-style);
                    text-decoration: var(
                      --e-global-typography-twbb_p3-text-decoration
                    );
                    line-height: var(--e-global-typography-twbb_p3-line-height);
                    letter-spacing: var(
                      --e-global-typography-twbb_p3-letter-spacing
                    );
                    word-spacing: var(
                      --e-global-typography-twbb_p3-word-spacing
                    );
                  }
                  .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-field-type-html {
                    padding-bottom: 0px;
                    color: var(--e-global-color-text);
                    font-family: var(
                        --e-global-typography-twbb_input-font-family
                      ),
                      sans-serif;
                    font-size: var(--e-global-typography-twbb_input-font-size);
                    font-weight: var(
                      --e-global-typography-twbb_input-font-weight
                    );
                    text-transform: var(
                      --e-global-typography-twbb_input-text-transform
                    );
                    font-style: var(
                      --e-global-typography-twbb_input-font-style
                    );
                    text-decoration: var(
                      --e-global-typography-twbb_input-text-decoration
                    );
                    line-height: var(
                      --e-global-typography-twbb_input-line-height
                    );
                    letter-spacing: var(
                      --e-global-typography-twbb_input-letter-spacing
                    );
                    word-spacing: var(
                      --e-global-typography-twbb_input-word-spacing
                    );
                  }
                  .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-field-group
                    .elementor-field {
                    color: var(--e-global-color-twbb_button);
                  }
                  .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-field-group
                    .elementor-field,
                  .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-field-subgroup
                    label {
                    font-family: var(
                        --e-global-typography-twbb_input-font-family
                      ),
                      sans-serif;
                    font-size: var(--e-global-typography-twbb_input-font-size);
                    font-weight: var(
                      --e-global-typography-twbb_input-font-weight
                    );
                    text-transform: var(
                      --e-global-typography-twbb_input-text-transform
                    );
                    font-style: var(
                      --e-global-typography-twbb_input-font-style
                    );
                    text-decoration: var(
                      --e-global-typography-twbb_input-text-decoration
                    );
                    line-height: var(
                      --e-global-typography-twbb_input-line-height
                    );
                    letter-spacing: var(
                      --e-global-typography-twbb_input-letter-spacing
                    );
                    word-spacing: var(
                      --e-global-typography-twbb_input-word-spacing
                    );
                  }
                  .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-field-group:not(
                      .elementor-field-type-upload,
                      .elementor-field-type-custom_button
                    )
                    .elementor-field:not(.elementor-select-wrapper) {
                    background-color: var(--e-global-color-twbb_bg_primary);
                    border-color: #e6e6e6;
                    border-width: 0px 0px 0px 0px;
                  }
                  .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-field-group
                    .elementor-select-wrapper
                    select {
                    background-color: var(--e-global-color-twbb_bg_primary);
                    border-color: #e6e6e6;
                    border-width: 0px 0px 0px 0px;
                  }
                  .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-field-group
                    .elementor-select-wrapper::before {
                    color: #e6e6e6;
                  }
                  .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-button {
                    font-family: var(--e-global-typography-accent-font-family),
                      sans-serif;
                    font-size: var(--e-global-typography-accent-font-size);
                    font-weight: var(--e-global-typography-accent-font-weight);
                    text-transform: var(
                      --e-global-typography-accent-text-transform
                    );
                    font-style: var(--e-global-typography-accent-font-style);
                    text-decoration: var(
                      --e-global-typography-accent-text-decoration
                    );
                    line-height: var(--e-global-typography-accent-line-height);
                    letter-spacing: var(
                      --e-global-typography-accent-letter-spacing
                    );
                    word-spacing: var(
                      --e-global-typography-accent-word-spacing
                    );
                    border-style: solid;
                    border-width: 1px 1px 1px 1px;
                    padding: 12px 24px 12px 24px;
                  }
                  .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .e-form__buttons__wrapper__button-next {
                    background-color: var(--e-global-color-accent);
                    color: var(--e-global-color-twbb_button_inv);
                    border-color: var(--e-global-color-accent);
                  }
                  .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-button[type='submit'] {
                    background-color: var(--e-global-color-accent);
                    color: var(--e-global-color-twbb_button_inv);
                    border-color: var(--e-global-color-accent);
                  }
                  .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-button[type='submit']
                    svg
                    * {
                    fill: var(--e-global-color-twbb_button_inv);
                  }
                  .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .e-form__buttons__wrapper__button-previous {
                    color: #ffffff;
                  }
                  .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-button[type='reset'] {
                    color: #ffffff;
                  }
                  .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .e-form__buttons__wrapper__button-next:hover {
                    background-color: var(--e-global-color-twbb_accent_hover);
                    color: var(--e-global-color-twbb_button_inv);
                    border-color: var(--e-global-color-twbb_accent_hover);
                  }
                  .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-button[type='submit']:hover {
                    background-color: var(--e-global-color-twbb_accent_hover);
                    color: var(--e-global-color-twbb_button_inv);
                    border-color: var(--e-global-color-twbb_accent_hover);
                  }
                  .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-button[type='submit']:hover
                    svg
                    * {
                    fill: var(--e-global-color-twbb_button_inv);
                  }
                  .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .e-form__buttons__wrapper__button-previous:hover {
                    color: #ffffff;
                  }
                  .elementor-1605
                    .elementor-element.elementor-element-5c3zmdu7
                    .elementor-button[type='reset']:hover {
                    color: #ffffff;
                  }
                  .elementor-1605
                    .elementor-element.elementor-element-lnel6gm2 {
                    width: var(--container-widget-width, 50%);
                    max-width: 50%;
                    --container-widget-width: 50%;
                    --container-widget-flex-grow: 0;
                  }
                  .elementor-1605
                    .elementor-element.elementor-element-lnel6gm2
                    iframe {
                    height: 570px;
                  }
                  @media (min-width: 768px) {
                    .elementor-1605
                      .elementor-element.elementor-element-vi93qah7 {
                      --content-width: 1280px;
                    }
                  }
                  @media (max-width: 1024px) {
                    .elementor-1605
                      .elementor-element.elementor-element-vi93qah7 {
                      --flex-direction: row;
                      --container-widget-width: initial;
                      --container-widget-height: 100%;
                      --container-widget-flex-grow: 1;
                      --container-widget-align-self: stretch;
                      --flex-wrap-mobile: wrap;
                      --justify-content: center;
                      --padding-top: 80px;
                      --padding-bottom: 80px;
                      --padding-left: 15px;
                      --padding-right: 50px;
                    }
                    .elementor-widget-twbb_form
                      .elementor-heading-title.elementor-form-title {
                      font-size: var(--e-global-typography-primary-font-size);
                      line-height: var(
                        --e-global-typography-primary-line-height
                      );
                      letter-spacing: var(
                        --e-global-typography-primary-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-primary-word-spacing
                      );
                    }
                    .elementor-widget-twbb_form
                      .elementor-form-title-description-wrapper
                      .elementor-text-editor {
                      font-size: var(--e-global-typography-text-font-size);
                      line-height: var(--e-global-typography-text-line-height);
                      letter-spacing: var(
                        --e-global-typography-text-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-text-word-spacing
                      );
                    }
                    .elementor-widget-twbb_form .elementor-field-group > label {
                      font-size: var(--e-global-typography-text-font-size);
                      line-height: var(--e-global-typography-text-line-height);
                      letter-spacing: var(
                        --e-global-typography-text-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-text-word-spacing
                      );
                    }
                    .elementor-widget-twbb_form .elementor-field-type-html {
                      font-size: var(--e-global-typography-text-font-size);
                      line-height: var(--e-global-typography-text-line-height);
                      letter-spacing: var(
                        --e-global-typography-text-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-text-word-spacing
                      );
                    }
                    .elementor-widget-twbb_form
                      .elementor-field-group
                      .elementor-field,
                    .elementor-widget-twbb_form
                      .elementor-field-subgroup
                      label {
                      font-size: var(--e-global-typography-text-font-size);
                      line-height: var(--e-global-typography-text-line-height);
                      letter-spacing: var(
                        --e-global-typography-text-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-text-word-spacing
                      );
                    }
                    .elementor-widget-twbb_form .elementor-button {
                      font-size: var(--e-global-typography-accent-font-size);
                      line-height: var(
                        --e-global-typography-accent-line-height
                      );
                      letter-spacing: var(
                        --e-global-typography-accent-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-accent-word-spacing
                      );
                    }
                    .elementor-widget-twbb_form
                      .elementor-form-text-after-description-wrapper
                      .elementor-text-editor {
                      font-size: var(--e-global-typography-text-font-size);
                      line-height: var(--e-global-typography-text-line-height);
                      letter-spacing: var(
                        --e-global-typography-text-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-text-word-spacing
                      );
                    }
                    .elementor-widget-twbb_form .elementor-message {
                      font-size: var(--e-global-typography-text-font-size);
                      line-height: var(--e-global-typography-text-line-height);
                      letter-spacing: var(
                        --e-global-typography-text-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-text-word-spacing
                      );
                    }
                    .elementor-widget-twbb_form .e-form__indicators__indicator,
                    .elementor-widget-twbb_form
                      .e-form__indicators__indicator__label {
                      font-size: var(--e-global-typography-accent-font-size);
                      line-height: var(
                        --e-global-typography-accent-line-height
                      );
                      letter-spacing: var(
                        --e-global-typography-accent-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-accent-word-spacing
                      );
                    }
                    .elementor-widget-twbb_form
                      .e-form__indicators__indicator__progress__meter {
                      font-size: var(--e-global-typography-accent-font-size);
                      line-height: var(
                        --e-global-typography-accent-line-height
                      );
                      letter-spacing: var(
                        --e-global-typography-accent-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-accent-word-spacing
                      );
                    }
                    .elementor-1605
                      .elementor-element.elementor-element-5c3zmdu7 {
                      width: var(--container-widget-width, 50%);
                      max-width: 50%;
                      --container-widget-width: 50%;
                      --container-widget-flex-grow: 0;
                    }
                    .elementor-1605
                      .elementor-element.elementor-element-5c3zmdu7
                      .elementor-heading-title.elementor-form-title {
                      font-size: var(--e-global-typography-twbb_h3-font-size);
                      line-height: var(
                        --e-global-typography-twbb_h3-line-height
                      );
                      letter-spacing: var(
                        --e-global-typography-twbb_h3-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-twbb_h3-word-spacing
                      );
                    }
                    .elementor-1605
                      .elementor-element.elementor-element-5c3zmdu7
                      .elementor-form-title-description-wrapper
                      .elementor-text-editor {
                      font-size: var(--e-global-typography-twbb_p3-font-size);
                      line-height: var(
                        --e-global-typography-twbb_p3-line-height
                      );
                      letter-spacing: var(
                        --e-global-typography-twbb_p3-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-twbb_p3-word-spacing
                      );
                    }
                    .elementor-1605
                      .elementor-element.elementor-element-5c3zmdu7
                      .elementor-field-group
                      > label {
                      font-size: var(--e-global-typography-twbb_p3-font-size);
                      line-height: var(
                        --e-global-typography-twbb_p3-line-height
                      );
                      letter-spacing: var(
                        --e-global-typography-twbb_p3-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-twbb_p3-word-spacing
                      );
                    }
                    .elementor-1605
                      .elementor-element.elementor-element-5c3zmdu7
                      .elementor-field-type-html {
                      font-size: var(
                        --e-global-typography-twbb_input-font-size
                      );
                      line-height: var(
                        --e-global-typography-twbb_input-line-height
                      );
                      letter-spacing: var(
                        --e-global-typography-twbb_input-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-twbb_input-word-spacing
                      );
                    }
                    .elementor-1605
                      .elementor-element.elementor-element-5c3zmdu7
                      .elementor-field-group
                      .elementor-field,
                    .elementor-1605
                      .elementor-element.elementor-element-5c3zmdu7
                      .elementor-field-subgroup
                      label {
                      font-size: var(
                        --e-global-typography-twbb_input-font-size
                      );
                      line-height: var(
                        --e-global-typography-twbb_input-line-height
                      );
                      letter-spacing: var(
                        --e-global-typography-twbb_input-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-twbb_input-word-spacing
                      );
                    }
                    .elementor-1605
                      .elementor-element.elementor-element-5c3zmdu7
                      .elementor-button {
                      font-size: var(--e-global-typography-accent-font-size);
                      line-height: var(
                        --e-global-typography-accent-line-height
                      );
                      letter-spacing: var(
                        --e-global-typography-accent-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-accent-word-spacing
                      );
                    }
                    .elementor-1605
                      .elementor-element.elementor-element-lnel6gm2 {
                      width: var(--container-widget-width, 50%);
                      max-width: 50%;
                      --container-widget-width: 50%;
                      --container-widget-flex-grow: 0;
                    }
                  }
                  @media (max-width: 767px) {
                    .elementor-1605
                      .elementor-element.elementor-element-vi93qah7 {
                      --flex-direction: column;
                      --container-widget-width: calc(
                        (1 - var(--container-widget-flex-grow)) * 100%
                      );
                      --container-widget-height: initial;
                      --container-widget-flex-grow: 0;
                      --container-widget-align-self: initial;
                      --flex-wrap-mobile: wrap;
                      --justify-content: center;
                      --align-items: flex-start;
                      --padding-top: 50px;
                      --padding-bottom: 50px;
                      --padding-left: 15px;
                      --padding-right: 15px;
                    }
                    .elementor-1605
                      .elementor-element.elementor-element-vi93qah7.e-con {
                      --align-self: center;
                    }
                    .elementor-widget-twbb_form
                      .elementor-heading-title.elementor-form-title {
                      font-size: var(--e-global-typography-primary-font-size);
                      line-height: var(
                        --e-global-typography-primary-line-height
                      );
                      letter-spacing: var(
                        --e-global-typography-primary-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-primary-word-spacing
                      );
                    }
                    .elementor-widget-twbb_form
                      .elementor-form-title-description-wrapper
                      .elementor-text-editor {
                      font-size: var(--e-global-typography-text-font-size);
                      line-height: var(--e-global-typography-text-line-height);
                      letter-spacing: var(
                        --e-global-typography-text-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-text-word-spacing
                      );
                    }
                    .elementor-widget-twbb_form .elementor-field-group > label {
                      font-size: var(--e-global-typography-text-font-size);
                      line-height: var(--e-global-typography-text-line-height);
                      letter-spacing: var(
                        --e-global-typography-text-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-text-word-spacing
                      );
                    }
                    .elementor-widget-twbb_form .elementor-field-type-html {
                      font-size: var(--e-global-typography-text-font-size);
                      line-height: var(--e-global-typography-text-line-height);
                      letter-spacing: var(
                        --e-global-typography-text-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-text-word-spacing
                      );
                    }
                    .elementor-widget-twbb_form
                      .elementor-field-group
                      .elementor-field,
                    .elementor-widget-twbb_form
                      .elementor-field-subgroup
                      label {
                      font-size: var(--e-global-typography-text-font-size);
                      line-height: var(--e-global-typography-text-line-height);
                      letter-spacing: var(
                        --e-global-typography-text-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-text-word-spacing
                      );
                    }
                    .elementor-widget-twbb_form .elementor-button {
                      font-size: var(--e-global-typography-accent-font-size);
                      line-height: var(
                        --e-global-typography-accent-line-height
                      );
                      letter-spacing: var(
                        --e-global-typography-accent-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-accent-word-spacing
                      );
                    }
                    .elementor-widget-twbb_form
                      .elementor-form-text-after-description-wrapper
                      .elementor-text-editor {
                      font-size: var(--e-global-typography-text-font-size);
                      line-height: var(--e-global-typography-text-line-height);
                      letter-spacing: var(
                        --e-global-typography-text-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-text-word-spacing
                      );
                    }
                    .elementor-widget-twbb_form .elementor-message {
                      font-size: var(--e-global-typography-text-font-size);
                      line-height: var(--e-global-typography-text-line-height);
                      letter-spacing: var(
                        --e-global-typography-text-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-text-word-spacing
                      );
                    }
                    .elementor-widget-twbb_form .e-form__indicators__indicator,
                    .elementor-widget-twbb_form
                      .e-form__indicators__indicator__label {
                      font-size: var(--e-global-typography-accent-font-size);
                      line-height: var(
                        --e-global-typography-accent-line-height
                      );
                      letter-spacing: var(
                        --e-global-typography-accent-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-accent-word-spacing
                      );
                    }
                    .elementor-widget-twbb_form
                      .e-form__indicators__indicator__progress__meter {
                      font-size: var(--e-global-typography-accent-font-size);
                      line-height: var(
                        --e-global-typography-accent-line-height
                      );
                      letter-spacing: var(
                        --e-global-typography-accent-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-accent-word-spacing
                      );
                    }
                    .elementor-1605
                      .elementor-element.elementor-element-5c3zmdu7 {
                      width: 100%;
                      max-width: 100%;
                    }
                    .elementor-1605
                      .elementor-element.elementor-element-5c3zmdu7.elementor-element {
                      --align-self: center;
                    }
                    .elementor-1605
                      .elementor-element.elementor-element-5c3zmdu7
                      .elementor-form-title {
                      text-align: center;
                    }
                    .elementor-1605
                      .elementor-element.elementor-element-5c3zmdu7
                      .elementor-heading-title.elementor-form-title {
                      font-size: var(--e-global-typography-twbb_h3-font-size);
                      line-height: var(
                        --e-global-typography-twbb_h3-line-height
                      );
                      letter-spacing: var(
                        --e-global-typography-twbb_h3-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-twbb_h3-word-spacing
                      );
                    }
                    .elementor-1605
                      .elementor-element.elementor-element-5c3zmdu7
                      .elementor-form-title-description-wrapper
                      .elementor-text-editor {
                      text-align: center;
                      font-size: var(--e-global-typography-twbb_p3-font-size);
                      line-height: var(
                        --e-global-typography-twbb_p3-line-height
                      );
                      letter-spacing: var(
                        --e-global-typography-twbb_p3-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-twbb_p3-word-spacing
                      );
                    }
                    .elementor-1605
                      .elementor-element.elementor-element-5c3zmdu7
                      .elementor-field-group
                      > label {
                      font-size: var(--e-global-typography-twbb_p3-font-size);
                      line-height: var(
                        --e-global-typography-twbb_p3-line-height
                      );
                      letter-spacing: var(
                        --e-global-typography-twbb_p3-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-twbb_p3-word-spacing
                      );
                    }
                    .elementor-1605
                      .elementor-element.elementor-element-5c3zmdu7
                      .elementor-field-type-html {
                      font-size: var(
                        --e-global-typography-twbb_input-font-size
                      );
                      line-height: var(
                        --e-global-typography-twbb_input-line-height
                      );
                      letter-spacing: var(
                        --e-global-typography-twbb_input-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-twbb_input-word-spacing
                      );
                    }
                    .elementor-1605
                      .elementor-element.elementor-element-5c3zmdu7
                      .elementor-field-group
                      .elementor-field,
                    .elementor-1605
                      .elementor-element.elementor-element-5c3zmdu7
                      .elementor-field-subgroup
                      label {
                      font-size: var(
                        --e-global-typography-twbb_input-font-size
                      );
                      line-height: var(
                        --e-global-typography-twbb_input-line-height
                      );
                      letter-spacing: var(
                        --e-global-typography-twbb_input-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-twbb_input-word-spacing
                      );
                    }
                    .elementor-1605
                      .elementor-element.elementor-element-5c3zmdu7
                      .elementor-button {
                      font-size: var(--e-global-typography-accent-font-size);
                      line-height: var(
                        --e-global-typography-accent-line-height
                      );
                      letter-spacing: var(
                        --e-global-typography-accent-letter-spacing
                      );
                      word-spacing: var(
                        --e-global-typography-accent-word-spacing
                      );
                    }
                    .elementor-1605
                      .elementor-element.elementor-element-lnel6gm2 {
                      width: 100%;
                      max-width: 100%;
                    }
                    .elementor-1605
                      .elementor-element.elementor-element-lnel6gm2.elementor-element {
                      --align-self: center;
                    }
                  }
                </style>
                <div
                  data-elementor-type="wp-page"
                  data-elementor-id="1605"
                  class="elementor elementor-1605"
                >
                  <div
                    class="elementor-element elementor-element-vi93qah7 twbb_section e-con-boxed e-flex e-con e-parent"
                    data-id="vi93qah7"
                    data-element_type="container"
                    id="get-in-touch-find-us"
                  >
                    <div class="e-con-inner">
                      <div
                        class="elementor-element elementor-element-5c3zmdu7 elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget-tablet__width-initial elementor-mobile-button-align-stretch elementor-button-align-left elementor-invisible elementor-widget elementor-widget-twbb_form"
                        data-id="5c3zmdu7"
                        data-element_type="widget"
                        data-settings='{"_animation":"fadeInUp","button_width":"100","step_next_label":"Next","step_previous_label":"Previous","step_type":"number_text","step_icon_shape":"circle"}'
                        data-widget_type="twbb_form.default"
                      >
                        <div class="elementor-widget-container">
                          <form
                            class="elementor-form"
                            method="post"
                            name="Contact Us"
                          >
                            <input type="hidden" name="post_id" value="1605" />
                            <input
                              type="hidden"
                              name="form_id"
                              value="5c3zmdu7"
                            />
                            <input
                              type="hidden"
                              name="referer_title"
                              value="Contact & Location"
                            />

                            <input
                              type="hidden"
                              name="queried_id"
                              value="1605"
                            />

                            <div
                              class="elementor-form-fields-wrapper elementor-labels-above"
                            >
                              <div
                                class="elementor-form-title-description-wrapper elementor-field-group elementor-column elementor-col-100 elementor-widget-wrap elementor-widget-heading"
                              >
                                <h3
                                  class="elementor-form-title elementor-element elementor-heading-title elementor-size-large"
                                >
                                  Contact Us
                                </h3>
                                <div
                                  class="elementor-text-editor elementor-clearfix elementor-element"
                                >
                                  Reach out for inquiries or directions.
                                </div>
                              </div>
                              <div
                                class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100 elementor-field-required"
                              >
                                <label
                                  for="form-field-name"
                                  class="elementor-field-label"
                                >
                                  Name
                                </label>
                                <input
                                  size="1"
                                  type="text"
                                  name="form_fields[name]"
                                  id="form-field-name"
                                  class="elementor-field elementor-size-sm elementor-field-textual"
                                  placeholder="Enter your name"
                                  required="required"
                                  aria-required="true"
                                />
                              </div>
                              <div
                                class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-email elementor-col-100 elementor-field-required"
                              >
                                <label
                                  for="form-field-email"
                                  class="elementor-field-label"
                                >
                                  Email
                                </label>
                                <input
                                  size="1"
                                  type="email"
                                  name="form_fields[email]"
                                  id="form-field-email"
                                  class="elementor-field elementor-size-sm elementor-field-textual"
                                  placeholder="Enter your email"
                                  required="required"
                                  aria-required="true"
                                />
                              </div>
                              <div
                                class="elementor-field-type-textarea elementor-field-group elementor-column elementor-field-group-message elementor-col-100 elementor-field-required"
                              >
                                <label
                                  for="form-field-message"
                                  class="elementor-field-label"
                                >
                                  Message
                                </label>
                                <textarea
                                  class="elementor-field-textual elementor-field elementor-size-sm"
                                  name="form_fields[message]"
                                  id="form-field-message"
                                  rows="4"
                                  placeholder="Type your message"
                                  required="required"
                                  aria-required="true"></textarea>
                              </div>
                              <div
                                class="elementor-field-type-acceptance elementor-field-group elementor-column elementor-field-group-acceptance elementor-col-100 elementor-field-required"
                              >
                                <div class="elementor-field-subgroup">
                                  <span class="elementor-field-option">
                                    <input
                                      type="checkbox"
                                      name="form_fields[acceptance]"
                                      id="form-field-acceptance"
                                      class="elementor-field elementor-size-sm elementor-acceptance-field"
                                      required="required"
                                      aria-required="true"
                                    />
                                    <label for="form-field-acceptance"
                                      >I accept the Terms</label
                                    >
                                  </span>
                                </div>
                              </div>
                              <div
                                class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons"
                              >
                                <button type="submit" class="elementor-button">
                                  <span>
                                    <span class="elementor-button-icon"> </span>
                                    <span class="elementor-button-text"
                                      >Submit</span
                                    >
                                  </span>
                                </button>
                                <button
                                  type="reset"
                                  class="elementor-button elementor-hidden"
                                >
                                  <span> </span>
                                </button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-lnel6gm2 elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget-tablet__width-initial elementor-widget elementor-widget-google_maps"
                        data-id="lnel6gm2"
                        data-element_type="widget"
                        data-widget_type="google_maps.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-custom-embed">
                            <iframe
                              loading="lazy"
                              src="https://maps.google.com/maps?q=Carrer%20de%20Pau%20Claris%2C%20123%2C%2008009%20Barcelona%2C%20Spain&t=m&z=15&output=embed&iwloc=near"
                              title="Carrer de Pau Claris, 123, 08009 Barcelona, Spain"
                              aria-label="Carrer de Pau Claris, 123, 08009 Barcelona, Spain"
                            ></iframe>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</PageLandingLayout>
