---
import '@fortawesome/fontawesome-free/css/all.min.css'

import SplitContentSection from '@components/landing/SplitContentSection.astro'
import PageTitle from '@components/landing/PageTitle.astro'
import PageLandingLayout from '@layouts/PageLandingLayout.astro'
---

<PageLandingLayout title="Conocenos" href="/conocenos/">
  <div class="flex flex-col gap-20 mb-24">
    <SplitContentSection>
      <Fragment slot="title">
        <PageTitle> Descubre Nuestro Viaje y Valores Fundamentales</PageTitle>
      </Fragment>
      <Fragment slot="description">
        <p>
          En 2025, Melisa, Daniela y Magalí dieron vida a <strong>Maktub</strong>, un bar
          temático con tres salas exclusivas: una romántica, otra dedicada al
          entretenimiento con juegos y una tercera con ambiente de discoteca.
          Este bar se integra con una app de emparejamiento que, a través de un
          algoritmo, conecta a las personas para que disfruten de la cita
          perfecta en el restaurante.
        </p>

        <p>
          Además, nuestro menú se distingue por una selección de alimentos y
          cócteles afrodisíacos, especialmente diseñados para potenciar la
          conexión entre los visitantes. Maktub se ha convertido en un referente
          para quienes buscan experiencias únicas y memorables.
        </p>
      </Fragment>
    </SplitContentSection>

    <div class="text-center">
      <img
        class="mx-auto mb-4"
        fetchpriority="high"
        width="744"
        height="335"
        src="/fundadoras.png"
        alt="Fundadoras de Maktub"
      />
      <h3 class="text-2xl font-light italic text-primary-600 mt-3">
        Las mentes creativas detrás de Maktub, uniendo tecnología y conexiones
        humanas
      </h3>
    </div>

    <div class="bg-white px-4">
      <h2 class="text-3xl font-semibold text-center mb-12 text-gray-800">
        Nuestros Valores
      </h2>

      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8 max-w-6xl mx-auto">
        <div
          class="bg-gray-50 p-6 rounded-lg shadow-md transform transition-transform hover:scale-105 border border-gray-200"
        >
          <div class="flex items-center mb-4">
            <i class="fas fa-heart text-gray-700 text-2xl mr-3"></i>
            <h3 class="text-xl font-semibold text-gray-800">Autenticidad</h3>
          </div>
          <p class="text-gray-700">
            Fomentamos un ambiente donde cada persona pueda mostrarse tal y como
            es, creando un espacio para conexiones verdaderas.
          </p>
        </div>

        <div
          class="bg-gray-50 p-6 rounded-lg shadow-md transform transition-transform hover:scale-105 border border-gray-200"
        >
          <div class="flex items-center mb-4">
            <i class="fas fa-shield-alt text-gray-700 text-2xl mr-3"></i>
            <h3 class="text-xl font-semibold text-gray-800">Seguridad</h3>
          </div>
          <p class="text-gray-700">
            La confianza y el bienestar de nuestros clientes es nuestra
            prioridad. Diseñamos protocolos de seguridad y capacitamos a nuestro
            personal para asegurar que cada interacción sea respetuosa y
            protegida.
          </p>
        </div>

        <div
          class="bg-gray-50 p-6 rounded-lg shadow-md transform transition-transform hover:scale-105 border border-gray-200"
        >
          <div class="flex items-center mb-4">
            <i class="fas fa-lightbulb text-gray-700 text-2xl mr-3"></i>
            <h3 class="text-xl font-semibold text-gray-800">Innovación</h3>
          </div>
          <p class="text-gray-700">
            Nos esforzamos por ofrecer una experiencia de citas moderna,
            integrando una aplicación especializada y ambientes temáticos únicos
            que respondan a las necesidades de nuestros futuros clientes.
          </p>
        </div>

        <div
          class="bg-gray-50 p-6 rounded-lg shadow-md transform transition-transform hover:scale-105 border border-gray-200"
        >
          <div class="flex items-center mb-4">
            <i class="fas fa-smile-beam text-gray-700 text-2xl mr-3"></i>
            <h3 class="text-xl font-semibold text-gray-800">
              Diversión y Creatividad
            </h3>
          </div>
          <p class="text-gray-700">
            Creemos en crear experiencias divertidas para fomentar conexiones.
            Nos enfocamos en ofrecer actividades y experiencias que rompan el
            hielo y hagan cada cita única.
          </p>
        </div>

        <div
          class="bg-gray-50 p-6 rounded-lg shadow-md transform transition-transform hover:scale-105 border border-gray-200"
        >
          <div class="flex items-center mb-4">
            <i class="fas fa-users text-gray-700 text-2xl mr-3"></i>
            <h3 class="text-xl font-semibold text-gray-800">Inclusividad</h3>
          </div>
          <p class="text-gray-700">
            Nuestro espacio y nuestra app están abiertos a personas de todas las
            orientaciones y antecedentes, promoviendo un entorno donde todos
            puedan conectar sin prejuicios.
          </p>
        </div>
      </div>
    </div>
  </div>
</PageLandingLayout>
