---
import '@fortawesome/fontawesome-free/css/all.min.css'

import SplitContentSection from '@components/landing/SplitContentSection.astro'
import PageTitle from '@components/landing/PageTitle.astro'
import PageLandingLayout from '@layouts/PageLandingLayout.astro'
---

<PageLandingLayout title="Conocenos" href="/conocenos/">
  <SplitContentSection>
    <Fragment slot="title">
      <PageTitle> Descubre Nuestro Viaje y Valores Fundamentales</PageTitle>
    </Fragment>
    <Fragment slot="description">
      <p>
        Maktub fue fundado en 2023 con la visión de crear una experiencia social
        única en el corazón de Barcelona. Nuestra misión es fomentar conexiones
        genuinas a través de una combinación de un ambiente acogedor, exquisitas
        propuestas gastronómicas y tecnología innovadora.
      </p>
      <p>
        Nos enorgullecemos de nuestros valores fundamentales: Inclusión,
        asegurando que todos se sientan bienvenidos; Conexión, creyendo en
        el poder de la interacción humana; Calidad, con un firme compromiso
        con la excelencia en la comida y el servicio; e Innovación,
        utilizando la tecnología para mejorar tu experiencia de citas.
      </p>
    </Fragment>
  </SplitContentSection>

  <div class="w-full mt-8">
    <img
      fetchpriority="high"
      width="1820"
      height="1024"
      src="/wp-content/uploads/sites/128/2025/03/tenweb_media_s2ixuxogz.webp"
      class="w-full h-auto block"
      alt=""
    />
  </div>
</PageLandingLayout>
