---
import '@fortawesome/fontawesome-free/css/all.min.css'

import PageLandingLayout from '@layouts/PageLandingLayout.astro'
import PresentationCard from '@components/landing/PresentationCard.astro'
import ZigZagUnderline from '@components/landing/ZigZagUnderline.astro'
import SplitContentSection from '@components/landing/SplitContentSection.astro'
import { appFeatures } from '@data/appFeatures'
---

<PageLandingLayout title="La App" href="/la-app/">
  <section class="container mx-auto flex flex-col gap-10">
    <SplitContentSection>
      <Fragment slot="title">
        Discover How the <ZigZagUnderline>Maktub</ZigZagUnderline> App Enhances Your
        Dating Life
      </Fragment>
      <Fragment slot="description">
        Our innovative app seamlessly connects your online profile with
        real-world interactions at Maktub. Browse profiles, match with other
        members, and arrange meet-ups in our themed rooms. Experience a new way
        to date, blending digital convenience with the charm of face-to-face
        connections.
      </Fragment>
    </SplitContentSection>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      {
        appFeatures.map((feature) => (
          <PresentationCard
            title={feature.title}
            description={feature.description}
            imageUrl={feature.imageUrl}
            imageAlt={feature.imageAlt}
          />
        ))
      }
    </div>
  </section>
</PageLandingLayout>
