---
import PageLandingLayout from '@layouts/PageLandingLayout.astro';

---
<PageLandingLayout> HOLA
  <!-- <body
    class="post-template-default single single-post postid-1601 single-format-standard theme-tenweb-website-builder-theme woocommerce-no-js e-wc-error-notice e-wc-message-notice e-wc-info-notice elementor-default elementor-kit-1632"
  >
    <div
      data-elementor-type="twbb_single"
      data-elementor-id="1631"
      class="elementor elementor-1631"
    >
      <div
        class="elementor-element elementor-element-k3sccxab twbb_section e-con-boxed e-flex e-con e-parent"
        data-id="k3sccxab"
        data-element_type="container"
      >
        <div class="e-con-inner">
          <div
            class="elementor-element elementor-element-npbkalbo e-con-full e-flex e-con e-parent"
            data-id="npbkalbo"
            data-element_type="container"
          >
            <div
              class="elementor-element elementor-element-hogic8vr elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget-tablet__width-initial elementor-widget elementor-widget-twbb_breadcrumb"
              data-id="hogic8vr"
              data-element_type="widget"
              data-widget_type="twbb_breadcrumb.default"
            >
              <div class="elementor-widget-container">
                <ul class="twbb-breadcrumb">
                  <li>
                    <a href="1602">Inicio</a><span class="breadcrumb-separator"
                      ><i aria-hidden="true" class="fa fa-angle-right"
                      ></i></span>
                  </li><li>
                    <a href="/category/events/">Eventos</a><span
                      class="breadcrumb-separator"
                      ><i aria-hidden="true" class="fa fa-angle-right"
                      ></i></span>
                  </li><li>El lugar más vibrante de Barcelona: Eventos Maktub</li>
                </ul>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-4dh0x2mh elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget-tablet__width-initial elementor-widget elementor-widget-twbb_post-title elementor-page-title tenweb-page-title elementor-widget-heading"
              data-id="4dh0x2mh"
              data-element_type="widget"
              data-widget_type="twbb_post-title.default"
            >
              <div class="elementor-widget-container">
                <h1 class="elementor-heading-title elementor-size-default">
                  <a href="/barcelonas-hottest-spot-amorlounge-events/"
                    >El lugar más vibrante de Barcelona: Eventos Maktub</a>
                </h1>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-ztsin6pr e-con-full e-flex e-con e-parent"
              data-id="ztsin6pr"
              data-element_type="container"
            >
              <div
                class="elementor-element elementor-element-a6kop511 elementor-widget elementor-widget-twbbpost-info"
                data-id="a6kop511"
                data-element_type="widget"
                data-widget_type="twbbpost-info.default"
              >
                <div class="elementor-widget-container">
                  <ul
                    class="elementor-inline-items elementor-inline-terms elementor-icon-list-items elementor-post-info"
                  >
                    <li
                      class="elementor-icon-list-item elementor-repeater-item-we8428zw elementor-inline-item"
                      itemprop="datePublished"
                    >
                      <a href="/2025/03/01/">
                        <span class="elementor-icon-list-icon">
                          <i aria-hidden="true" class="fas fa-calendar"></i>
                        </span>
                        <span
                          class="elementor-icon-list-text elementor-post-info__item elementor-post-info__item--type-date"
                        >
                          1 de marzo de 2025
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-bp4mtcv8 elementor-share-buttons--view-icon elementor-share-buttons--skin-minimal elementor-share-buttons--shape-rounded elementor-grid-3 elementor-share-buttons--color-custom elementor-widget elementor-widget-twbbshare-buttons"
                data-id="bp4mtcv8"
                data-element_type="widget"
                data-widget_type="twbbshare-buttons.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-grid">
                    <div class="elementor-grid-item">
                      <div
                        class="elementor-share-btn elementor-share-btn_linkedin"
                      >
                        <span class="elementor-share-btn__icon">
                          <i class="fab fa-linkedin"></i>
                        </span>
                      </div>
                    </div>
                    <div class="elementor-grid-item">
                      <div
                        class="elementor-share-btn elementor-share-btn_twitter"
                      >
                        <span class="elementor-share-btn__icon">
                          <i class="fab fa-twitter"></i>
                        </span>
                      </div>
                    </div>
                    <div class="elementor-grid-item">
                      <div
                        class="elementor-share-btn elementor-share-btn_facebook"
                      >
                        <span class="elementor-share-btn__icon">
                          <i class="fab fa-facebook"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="elementor-element elementor-element-rj0yen3n twbb_section e-con-boxed e-flex e-con e-parent"
        data-id="rj0yen3n"
        data-element_type="container"
      >
        <div class="e-con-inner">
          <div
            class="elementor-element elementor-element-0qcwlu68 e-con-full e-flex e-con e-parent"
            data-id="0qcwlu68"
            data-element_type="container"
          >
            <div
              class="elementor-element elementor-element-lmoquwq3 elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget-tablet__width-initial elementor-widget elementor-widget-twbb_featured-image elementor-widget-image"
              data-id="lmoquwq3"
              data-element_type="widget"
              data-widget_type="twbb_featured-image.default"
            >
              <div class="elementor-widget-container">
                <img
                  fetchpriority="high"
                  width="1820"
                  height="1024"
                  src="/wp-content/uploads/sites/128/2025/03/tenweb_media_rrzsflcu0.webp"
                  class="attachment-full size-full wp-image-1574"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="elementor-element elementor-element-anbfwcgy twbb_section e-con-boxed e-flex e-con e-parent"
        data-id="anbfwcgy"
        data-element_type="container"
      >
        <div class="e-con-inner">
          <div
            class="elementor-element elementor-element-j5n5n6lf e-con-full e-flex e-con e-parent"
            data-id="j5n5n6lf"
            data-element_type="container"
          >
            <div
              class="elementor-element elementor-element-7l7bhzee elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget-tablet__width-initial elementor-widget elementor-widget-twbbpost-content"
              data-id="7l7bhzee"
              data-element_type="widget"
              data-widget_type="twbbpost-content.default"
            >
              <div class="elementor-widget-container">
                <p>
                  Maktub es más que un simple bar de citas; es un centro de interacción social y experiencias inolvidables. 
                  Organizamos una variedad de eventos a lo largo de la semana, desde noches temáticas hasta presentaciones de música en vivo. 
                  Únete a nosotros para una noche de diversión, conexión y recuerdos inolvidables.  
                  Nuestros eventos están diseñados para crear un ambiente animado y envolvente, permitiéndote conocer nuevas personas y ampliar tus conexiones sociales. 
                  Desde reuniones íntimas hasta fiestas a gran escala, ofrecemos experiencias para todos los gustos.  
                  Mantente atento a nuestros próximos eventos, que contarán con invitados especiales, música en vivo y promociones exclusivas. 
                  Síguenos en redes sociales para estar al tanto de las últimas novedades y anuncios.
                </p>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-b714orov elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget-tablet__width-initial elementor-invisible elementor-widget elementor-widget-heading"
              data-id="b714orov"
              data-element_type="widget"
              data-settings='{"_animation":"fadeInUp"}'
              data-widget_type="heading.default"
            >
              <div class="elementor-widget-container">
                <h5 class="elementor-heading-title elementor-size-default">
                  Comparte este posteo
                </h5>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-timl8202 e-con-full e-flex e-con e-parent"
              data-id="timl8202"
              data-element_type="container"
            >
              <div
                class="elementor-element elementor-element-dodkl6sg elementor-share-buttons--view-icon elementor-share-buttons--skin-minimal elementor-share-buttons--shape-rounded elementor-grid-3 elementor-share-buttons--color-custom elementor-widget elementor-widget-twbbshare-buttons"
                data-id="dodkl6sg"
                data-element_type="widget"
                data-widget_type="twbbshare-buttons.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-grid">
                    <div class="elementor-grid-item">
                      <div
                        class="elementor-share-btn elementor-share-btn_linkedin"
                      >
                        <span class="elementor-share-btn__icon">
                          <i class="fab fa-linkedin"></i>
                        </span>
                      </div>
                    </div>
                    <div class="elementor-grid-item">
                      <div
                        class="elementor-share-btn elementor-share-btn_twitter"
                      >
                        <span class="elementor-share-btn__icon">
                          <i class="fab fa-twitter"></i>
                        </span>
                      </div>
                    </div>
                    <div class="elementor-grid-item">
                      <div
                        class="elementor-share-btn elementor-share-btn_facebook"
                      >
                        <span class="elementor-share-btn__icon">
                          <i class="fab fa-facebook"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-coa2qmjp elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget-tablet__width-initial elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
              data-id="coa2qmjp"
              data-element_type="widget"
              data-widget_type="divider.default"
            >
              <div class="elementor-widget-container">
                <div class="elementor-divider">
                  <span class="elementor-divider-separator"> </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="elementor-element elementor-element-nd1qzbt9 twbb_section e-con-boxed e-flex e-con e-parent"
        data-id="nd1qzbt9"
        data-element_type="container"
      >
        <div class="e-con-inner">
          <div
            class="elementor-element elementor-element-nuksz77q e-con-full e-flex e-con e-parent"
            data-id="nuksz77q"
            data-element_type="container"
          >
            <div
              class="elementor-element elementor-element-p2phtopf elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget-tablet__width-initial elementor-invisible elementor-widget elementor-widget-heading"
              data-id="p2phtopf"
              data-element_type="widget"
              data-settings='{"_animation":"fadeInUp"}'
              data-widget_type="heading.default"
            >
              <div class="elementor-widget-container">
                <h2 class="elementor-heading-title elementor-size-default">
                  Suscríbete a nuestro boletín
                </h2>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-h9j0lo72 elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget-tablet__width-initial elementor-invisible elementor-widget elementor-widget-text-editor"
              data-id="h9j0lo72"
              data-element_type="widget"
              data-settings='{"_animation":"fadeInUp"}'
              data-widget_type="text-editor.default"
            >
              <div class="elementor-widget-container">
                Mantente al día con las últimas publicaciones del blog.  
                Sin spam, lo prometemos.
              </div>
            </div>
            <div
              class="elementor-element elementor-element-10rgf1zi elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget-tablet__width-initial elementor-mobile-button-align-stretch elementor-button-align-center elementor-invisible elementor-widget elementor-widget-twbb_form"
              data-id="10rgf1zi"
              data-element_type="widget"
              data-settings='{"_animation":"fadeInUp","button_width":"30","step_next_label":"Next","step_previous_label":"Previous","step_type":"number_text","step_icon_shape":"circle"}'
              data-widget_type="twbb_form.default"
            >
              <div class="elementor-widget-container">
                <form class="elementor-form" method="post">
                  <input type="hidden" name="post_id" value="1631" />
                  <input type="hidden" name="form_id" value="10rgf1zi" />
                  <input
                    type="hidden"
                    name="referer_title"
                    value="Barcelona’s Hottest Spot: Maktub Events"
                  />

                  <input type="hidden" name="queried_id" value="1601" />

                  <div class="elementor-form-fields-wrapper elementor-labels-">
                    <div
                      class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-email elementor-col-66 elementor-field-required"
                    >
                      <label
                        for="form-field-email"
                        class="elementor-field-label elementor-screen-only"
                      >
                        Email
                      </label>
                      <input
                        size="1"
                        type="email"
                        name="form_fields[email]"
                        id="form-field-email"
                        class="elementor-field elementor-size-sm elementor-field-textual"
                        placeholder="Enter your email"
                        required="required"
                        aria-required="true"
                      />
                    </div>
                    <div
                      class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-30 e-form__buttons"
                    >
                      <button type="submit" class="elementor-button">
                        <span>
                          <span class="elementor-button-icon"> </span>
                          <span class="elementor-button-text">Suscríbete</span>
                        </span>
                      </button>
                      <button
                        type="reset"
                        class="elementor-button elementor-hidden"
                      >
                        <span> </span>
                      </button>
                    </div>
                    <div
                      class="elementor-form-text-after-description-wrapper elementor-field-group elementor-column elementor-col-100 elementor-widget-wrap"
                    >
                      <div
                        class="elementor-text-editor elementor-clearfix elementor-element"
                      >
                        Al hacer clic en "Suscríbete", confirmas que aceptas nuestros Términos y Condiciones.
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="elementor-element elementor-element-9p4iciag twbb_section e-con-boxed e-flex e-con e-parent"
        data-id="9p4iciag"
        data-element_type="container"
      >
        <div class="e-con-inner">
          <div
            class="elementor-element elementor-element-vhivbkji e-con-full e-flex e-con e-parent"
            data-id="vhivbkji"
            data-element_type="container"
          >
            <div
              class="elementor-element elementor-element-f1wvsupg elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget-tablet__width-initial elementor-invisible elementor-widget elementor-widget-heading"
              data-id="f1wvsupg"
              data-element_type="widget"
              data-settings='{"_animation":"fadeInUp"}'
              data-widget_type="heading.default"
            >
              <div class="elementor-widget-container">
                <h2 class="elementor-heading-title elementor-size-default">
                  Publicaciones relacionadas
                </h2>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-1qqaaxh4 elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget-tablet__width-initial elementor-grid-3 elementor-posts--thumbnail-mobile-top elementor-grid-tablet-2 elementor-grid-mobile-1 elementor-posts--thumbnail-top elementor-posts--thumbnail-tablet-top twbb-post__badge-onimage_no elementor-posts--show-avatar twbb-post__avatar-align-left twbb-posts-image-animation_zoom-in twbb-posts-image-animation-duration-fast twbb-posts--fullHeight_no twbb-post__badge-align-left elementor-widget elementor-widget-tenweb-posts"
              data-id="1qqaaxh4"
              data-element_type="widget"
              data-settings='{"classic_columns":"3","classic_thumbnail_mobile":"top","classic_columns_tablet":"2","classic_columns_mobile":"1","classic_thumbnail":"top","classic_thumbnail_tablet":"top","classic_row_gap":{"unit":"px","size":35,"sizes":[]},"classic_row_gap_tablet":{"unit":"px","size":"","sizes":[]},"classic_row_gap_mobile":{"unit":"px","size":"","sizes":[]}}'
              data-widget_type="tenweb-posts.classic"
            >
              <div class="elementor-widget-container">
                <div
                  data-skin="classic "
                  class="elementor-posts-container elementor-posts elementor-posts--skin-classic elementor-grid"
                >
                  <article
                    class="elementor-post elementor-grid-item post-1601 post type-post status-publish format-standard has-post-thumbnail hentry category-events-openly-precise-narwhal"
                  >
                    <div class="twbb-image-container">
                      <a
                        class="elementor-post__thumbnail__link"
                        href="/barcelonas-hottest-spot-amorlounge-events/"
                        tabindex="-1"
                      >
                        <div class="elementor-post__thumbnail">
                          <img
                            width="1820"
                            height="1024"
                            src="/wp-content/uploads/sites/128/2025/03/tenweb_media_rrzsflcu0.webp"
                            class="attachment-medium size-medium wp-image-1574"
                            alt=""
                          />
                        </div>
                      </a>
                    </div>
                    <div class="elementor-post__text">
                      <div class="twbb-post__badge-container">
                        <a
                          class="twbb-post__badge-link"
                          href="/category/events/"
                          alt="Eventos"
                        >
                          <div class="elementor-post__badge">Eventos</div>
                        </a>
                      </div>
                      <h5 class="elementor-post__title">
                        <a href="/barcelonas-hottest-spot-amorlounge-events/">
                          El lugar más vibrante de Barcelona: Eventos Maktub
                        </a>
                      </h5>
                      <div class="elementor-post__excerpt">
                        <p>
                          Vive la vibrante vida nocturna y los eventos exclusivos de Maktub, el bar de citas líder en Barcelona.
                        </p>
                      </div>
                      <div class="elementor-post__read-more-wrapper">
                        <div class="elementor-post__read-more-container">
                          <a
                            class="elementor-post__read-more"
                            href="/barcelonas-hottest-spot-amorlounge-events/"
                            aria-label="Read more about Barcelona’s Hottest Spot: Maktub Events"
                            tabindex="-1"
                          >
                            Leer más <i
                              aria-hidden="true"
                              class="fas fa-angle-right"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </article>
                  <article
                    class="elementor-post elementor-grid-item post-1600 post type-post status-publish format-standard has-post-thumbnail hentry category-dating-strategies-openly-precise-narwhal"
                  >
                    <div class="twbb-image-container">
                      <a
                        class="elementor-post__thumbnail__link"
                        href="/the-art-of-conversation-dating-strategies-for/"
                        tabindex="-1"
                      >
                        <div class="elementor-post__thumbnail">
                          <img
                            loading="lazy"
                            width="1820"
                            height="1024"
                            src="/wp-content/uploads/sites/128/2025/03/tenweb_media_rx9hefrca.webp"
                            class="attachment-medium size-medium wp-image-1573"
                            alt=""
                          />
                        </div>
                      </a>
                    </div>
                    <div class="elementor-post__text">
                      <div class="twbb-post__badge-container">
                        <a
                          class="twbb-post__badge-link"
                          href="/category/dating-strategies/"
                          alt="Estrategias de citas"
                        >
                          <div class="elementor-post__badge">
                            Estrategias de citas
                          </div>
                        </a>
                      </div>
                      <h5 class="elementor-post__title">
                        <a
                          href="/the-art-of-conversation-dating-strategies-for/"
                        >
                        El arte de la conversación: Estrategias de citas para Maktub
                        </a>
                      </h5>
                      <div class="elementor-post__excerpt">
                        <p>
                          Domina el arte de la conversación y crea conexiones duraderas en Maktub.
                        </p>
                      </div>
                      <div class="elementor-post__read-more-wrapper">
                        <div class="elementor-post__read-more-container">
                          <a
                            class="elementor-post__read-more"
                            href="/the-art-of-conversation-dating-strategies-for/"
                            aria-label="Read more about The Art of Conversation: Estrategias de citas for Maktub"
                            tabindex="-1"
                          >
                            Leer más <i
                              aria-hidden="true"
                              class="fas fa-angle-right"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </article>
                  <article
                    class="elementor-post elementor-grid-item post-1599 post type-post status-publish format-standard has-post-thumbnail hentry category-dating-tips-openly-precise-narwhal"
                  >
                    <div class="twbb-image-container">
                      <a
                        class="elementor-post__thumbnail__link"
                        href="/unlocking-love-in-barcelona-your-guide-to/"
                        tabindex="-1"
                      >
                        <div class="elementor-post__thumbnail">
                          <img
                            loading="lazy"
                            width="1820"
                            height="1024"
                            src="/wp-content/uploads/sites/128/2025/03/tenweb_media_R7ZFYALQF.webp"
                            class="attachment-medium size-medium wp-image-1583"
                            alt=""
                          />
                        </div>
                      </a>
                    </div>
                    <div class="elementor-post__text">
                      <div class="twbb-post__badge-container">
                        <a
                          class="twbb-post__badge-link"
                          href="/category/dating-tips/"
                          alt="Consejos de citas"
                        >
                          <div class="elementor-post__badge">Consejos de citas</div>
                        </a>
                      </div>
                      <h5 class="elementor-post__title">
                        <a href="/unlocking-love-in-barcelona-your-guide-to/">
                          Desbloqueando el amor en Barcelona: Tu guía para Maktub
                        </a>
                      </h5>
                      <div class="elementor-post__excerpt">
                        <p>
                          Descubre la atmósfera única y las salas temáticas de Maktub, el bar de citas líder en Barcelona.
                        </p>
                      </div>
                      <div class="elementor-post__read-more-wrapper">
                        <div class="elementor-post__read-more-container">
                          <a
                            class="elementor-post__read-more"
                            href="/unlocking-love-in-barcelona-your-guide-to/"
                            aria-label="Lee más sobre Desbloqueando el amor en Barcelona: Tu guía para Maktub"
                            tabindex="-1"
                          >
                            Leer más <i
                              aria-hidden="true"
                              class="fas fa-angle-right"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
</PageLandingLayout>