---
import PageLandingLayout from '@layouts/PageLandingLayout.astro'
import BlogPost from '@components/landing/BlogPost.astro'

const publishDate = new Date('2025-03-12')
const pageTitle = 'Descubriendo el Amor en Barcelona: Tu Guía de Maktub'
const siteUrl = 'https://maktub.es'
---

<PageLandingLayout
  title="Descubriendo el Amor en Barcelona: Tu Guía de Maktub"
  href="/blog/dating-tips/unlocking-love-in-barcelona-your-guide-to/"
>
  <BlogPost
    pageTitle={pageTitle}
    publishDate={publishDate}
    siteUrl={siteUrl}
    srcImage="/wp-content/uploads/sites/128/2025/03/tenweb_media_R7ZFYALQF.webp"
    altImage="Maktub - Un espacio social vibrante en Barcelona"
  >
    <p>
      Maktub es más que un bar; es una experiencia. Sumérgete en la
      atmósfera vibrante, explora nuestras salas temáticas y descubre la
      conexión perfecta. Nuestra forma única de entender las citas fomenta
      interacciones genuinas y momentos memorables. Nos apasiona crear un
      espacio donde el amor florezca.
    </p>

    <p>
      Desde conversaciones íntimas en nuestros acogedores reservados hasta
      interacciones animadas en nuestra vibrante pista de baile, Maktub
      ofrece una amplia gama de experiencias. Nuestro menú cuidadosamente curado
      complementa el ambiente, asegurando una velada encantadora para todos. Ya
      sea que busques un encuentro casual o una conexión seria, Maktub
      proporciona el escenario ideal.
    </p>

    <p>
      Nuestro equipo está comprometido en crear un entorno acogedor e inclusivo
      para todos. Nuestras salas temáticas están diseñadas para estimular la
      conversación y generar recuerdos inolvidables. Explora la romántica
      atmósfera de la sala parisina, las vibrantes energías del Barrio Latino o
      la sofisticada elegancia de la sala Hollywood. Cada sala ofrece una
      experiencia única, adaptada a diferentes preferencias.
    </p>

    <p>
      Nuestro compromiso con brindar un ambiente seguro y agradable para todos
      nuestros huéspedes es primordial.
    </p>
  </BlogPost>
</PageLandingLayout>
