---
import '@fortawesome/fontawesome-free/css/all.min.css'

import PageLandingLayout from '@layouts/PageLandingLayout.astro'
import PresentationCard from '@components/landing/PresentationCard.astro'
import ZigZagUnderline from '@components/landing/ZigZagUnderline.astro'
import SplitContentSection from '@components/landing/SplitContentSection.astro'
import { rooms } from "@data/rooms"
---

<PageLandingLayout title="Ambientes" href="/ambientes/">
  <section class="container mx-auto flex flex-col gap-10">
    <SplitContentSection>
      <Fragment slot="title">
        Descubre Nuestros <ZigZagUnderline>Ambientes</ZigZagUnderline> Románticos
      </Fragment>
      <Fragment slot="description">
        Sumérgete en nuestras exclusivas habitaciones temáticas diseñadas para momentos inolvidables. 
        Cada ambiente ha sido cuidadosamente creado para ofrecer una experiencia única y romántica, 
        perfecta para escapadas especiales o celebraciones íntimas.
      </Fragment>
    </SplitContentSection>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      {
        rooms.map((room) => (
          <PresentationCard
            title={room.title}
            description={room.description}
            imageUrl={room.imageUrl}
            imageAlt={room.imageAlt}
          />
        ))
      }
    </div>
  </section>
</PageLandingLayout>
