---
import '@fortawesome/fontawesome-free/css/all.min.css'

import PageLandingLayout from '@layouts/PageLandingLayout.astro'
import PresentationCard from '@components/landing/PresentationCard.astro'
import ZigZagUnderline from '@components/landing/ZigZagUnderline.astro'
import SplitContentSection from '@components/landing/SplitContentSection.astro'
import { appFeatures } from '@data/appFeatures'
---

<PageLandingLayout title="La App" href="/la-app/">
  <section class="container mx-auto flex flex-col gap-10">
    <SplitContentSection>
      <Fragment slot="title">
        Descubre cómo la aplicación <ZigZagUnderline>Maktub</ZigZagUnderline> mejora
        tu vida amorosa
      </Fragment>
      <Fragment slot="description">
        Nuestra innovadora aplicación conecta sin esfuerzo tu perfil en línea
        con interacciones en el mundo real en Maktub. Explora perfiles, haz
        match con otros miembros y organiza encuentros en nuestras salas
        temáticas. Experimenta una nueva forma de citas que combina la comodidad
        digital con el encanto de las conexiones cara a cara.
      </Fragment>
    </SplitContentSection>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      {
        appFeatures.map((feature) => (
          <PresentationCard
            title={feature.title}
            description={feature.description}
            imageUrl={feature.imageUrl}
            imageAlt={feature.imageAlt}
          />
        ))
      }
    </div>
  </section>
</PageLandingLayout>
