---
import '@fortawesome/fontawesome-free/css/all.min.css'
import PageLandingLayout from '@layouts/PageLandingLayout.astro'
import PresentationCard from '@components/landing/PresentationCard.astro'
import { appFeatures } from '@data/appFeatures'
---

<PageLandingLayout title="La App" href="/la-app/">
  <section class="container mx-auto">
    <div class="flex flex-col md:flex-row items-start justify-between mb-16 gap-8">
      <h2 class="text-4xl font-bold text-gray-900 md:w-1/2">
        Discover How the <span class="text-primary">Maktub</span> App Enhances Your Dating Life
      </h2>
      <p class="text-lg text-gray-600 md:w-1/2">
        Our innovative app seamlessly connects your online profile with
        real-world interactions at Maktub. Browse profiles, match with other
        members, and arrange meet-ups in our themed rooms. Experience a new
        way to date, blending digital convenience with the charm of
        face-to-face connections.
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      {appFeatures.map((feature) => (
        <PresentationCard
          title={feature.title}
          description={feature.description}
          imageUrl={feature.imageUrl}
          imageAlt={feature.imageAlt}
        />
      ))}
    </div>
  </section>
</PageLandingLayout>
