---
import { ViewTransitions } from 'astro:transitions';
import IconProfile from '../components/icon-profile.astro';
import IconChat from '../components/icon-chat.astro';
import IconCrush from '../components/icon-crush.astro';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="h-full bg-background">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | Maktub Matchmaking</title>
    <ViewTransitions />
  </head>
  <body class="h-full">
    <nav class="bg-primary">
      <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="flex h-16 items-center w-full relative">
          <div class="absolute left-0">
            <img class="h-16 w-auto" src="/logo.svg" alt="Maktub" />
          </div>
          {/* Get current path */}
          <div class="flex space-x-12 justify-center flex-1 mx-auto">
              <a 
                href="/" 
                class:list={[
                  'font-medium p-3 rounded-md flex items-center justify-center',
                  Astro.url.pathname === '/' 
                    ? 'bg-white bg-opacity-20 text-white'
                    : 'text-white text-opacity-80 hover:text-opacity-100 hover:bg-opacity-10 hover:bg-white'
                ]}
              >
                <IconCrush />
                <span class="sr-only">Crushes</span>
              </a>
              <a 
                href="/profile" 
                class:list={[
                  'font-medium p-3 rounded-md flex items-center justify-center',
                  Astro.url.pathname === '/profile'
                    ? 'bg-white bg-opacity-20 text-white'
                    : 'text-white text-opacity-80 hover:text-opacity-100 hover:bg-opacity-10 hover:bg-white'
                ]}
              >
                <IconProfile />
                <span class="sr-only">Profile</span>
              </a>
              <a 
                href="/conversations" 
                class:list={[
                  'font-medium p-3 rounded-md flex items-center justify-center',
                  Astro.url.pathname === '/conversations'
                    ? 'bg-white bg-opacity-20 text-white'
                    : 'text-white text-opacity-80 hover:text-opacity-100 hover:bg-opacity-10 hover:bg-white'
                ]}
              >
                <IconChat />
                <span class="sr-only">Conversations</span>
              </a>
            </div>
          </div>
      </div>
    </nav>

    <main>
      <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
        <slot />
      </div>
    </main>
  </body>
</html>
