---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="h-full bg-background">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <title>{title} | Maktub Matchmaking</title>
  </head>
  <body class="h-full">
    <div class="min-h-full">
      <nav class="bg-primary">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="flex h-16 items-center justify-between">
            <div class="flex items-center">
              <div class="flex-shrink-0">
                <img class="h-8 w-auto" src="/logo.svg" alt="Maktub" />
              </div>
            </div>
          </div>
        </div>
      </nav>

      <main>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
          <slot />
        </div>
      </main>
    </div>
  </body>
</html>
